%h1 Fotos y Archivos

%p= link_to 'Subir archivo', new_media_path

%table
  %tr
    %th
    %th Nombre
    %th Por
    %th Descripcion
    %th Tipo
    %th

  - @medias.each do |media|
    %tr
      %td= link_to image_tag(media.archivo.url(:thumb)), media
      %td= media.nombre
      %td= link_to media.user, media.user.profile
      %td= media.descripcion
      %td= media.tipo
      %td{:id=>"marcar_retrato_#{media.id}"}
        - if can?(:manage, media) and media != current_user.profile.retrato
          = form_for(media, :url=>media_retrato_path(media), :remote=>true) do |f|
            = f.submit "Marcar como retrato"

