%h1 Fotos y Archivos

%p= link_to 'Crear nuevo', new_media_path

%table
  %tr
    %th
    %th Nombre
    %th Por
    %th Descripcion
    %th Tipo
    %th Archivo file name
    %th Archivo content type
    %th Archivo file size
    %th Archivo updated at
    %th
    %th
    %th

  - @medias.each do |media|
    %tr
      %td= image_tag(media.archivo.url(:thumb))
      %td= media.nombre
      %td= media.user
      %td= media.descripcion
      %td= media.tipo
      %td= media.archivo_file_name
      %td= media.archivo_content_type
      %td= media.archivo_file_size
      %td= media.archivo_updated_at
      %td= link_to 'Show', media
      %td= link_to 'Edit', edit_media_path(media)
      %td= link_to 'Destroy', media, :confirm => 'Are you sure?', :method => :delete
