
%p
  %b Nombre:
  = @media.nombre
%p
  = image_tag(@media.archivo.url(:normal))
%p
  %b Descripcion:
  = @media.descripcion
%p
  %b Tipo:
  = @media.tipo
%p
  %b Por:
  = @media.user
%p
  %b Archivo file name:
  = @media.archivo_file_name
%p
  %b Archivo content type:
  = @media.archivo_content_type
%p
  %b Archivo file size:
  = @media.archivo_file_size
%p
  %b Archivo updated at:
  = @media.archivo_updated_at

= link_to 'Edit', edit_media_path(@media)
\|
= link_to 'Back', medias_path
