
%p
  %b Archivo de:
  = @media.user
%p
  = image_tag(@media.archivo.url(:normal))
%p
  %b= @media.nombre
  = @media.descripcion
%p
  %b creado:
  = @media.archivo_updated_at

= link_to 'Regresar', medias_path
\|
- if can? :manage, @media
  = link_to "Modificar", edit_media_path(@media)
  \|
  = link_to 'Eliminar', @media, :confirm => 'Are you sure?', :method => :delete


= render :partial => "comentarios/comentarios", :locals=>{:comentable=>@media} 
