%h2 Modificar cuenta 

.span-10
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    %fieldset
      = f.input :email
      = f.input :password
      = f.hint "Déjalo en blanco para no modificar el password"
      = f.input :password_confirmation
      = f.input :current_password
      = f.hint "(Necesitamos tu clave actual para confirmar)"
      = f.submit "Registrar"
.clear

%h3 Cancelar la cuenta

%p 
  ¿No satisfecho? 
  = link_to "Cancelar cuenta", registration_path(resource_name), :confirm => "¿Estás seguro?", :method => :delete

%p
  = link_to "Back", :back
