%h1 Listing functions

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @functions.each do |function|
    %tr
      %td= function.name
      %td= link_to 'Show', function
      %td= link_to 'Edit', edit_function_path(function)
      %td= link_to 'Destroy', function, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New function', new_function_path
