%h1 Actividad del grupo

- @activities.each do |act|
  %p
    - begin
      - u = User.find(act.whodunnit.to_i)
      = link_to u, u.profile
      = " #{act.event} "
      %strong= "#{act.item.class.name} "
      - if act.item.is_a?(Media)
        = link_to image_tag(act.item.archivo.url(:thumb)), act.item
      - elsif act.item.is_a?(Comentario)
        = link_to truncate(act.item.texto), act.item.comentable
      - else
        = link_to act.item.to_s, act.item
    - rescue
      
    