%p
  Grupo de estudiantes y egresados de la escuela de negocios de la Universidad Católica (Centrum).
.span-10
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      %h2 Inicie sesión
      = f.input :email
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean, :label => "Recordarme" 
  
      = f.submit "Iniciar sesión"

  %p
    = render :partial => "devise/shared/links"
    |
    = link_to "Acerca de...", about_path

.span-4.large
  %p
  %p
  %h1{:style=>"text-align:center"} Ó
.span-10.last
  %p
  %p
  %p Si ya tienes cuenta en Facebook
  = link_to image_tag("login-button.png",:alt => "Login with facebook"), user_fb_auth_path

