%p
  Grupo de estudiantes y egresados de la escuela de negocios de la Universidad Católica (Centrum). 
  = link_to "Más...", about_path

.span-9

  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      %h2 Inicie sesión
      = f.input :email
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean, :label => "Recordarme" 
      = f.submit "Iniciar sesión"


.span-6.large
  %p
  %p
  %h1{:style=>"text-align:center"} Ó
  
.span-8.last

  %p
  %p
  %fieldset
    %p Si ya tiene cuenta en Facebook
    = link_to image_tag("login_facebook.png",:alt => "Login with facebook"), user_fb_auth_path
  %p
  %p 
    ¿Aún no se ha registrado?
    = render :partial => "devise/shared/links"

