= form_for @level do |f|
  -if @level.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@level.errors.count, "error")} prohibited this level from being saved:"
      %ul
        - @level.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
